%h1 Activity History
%h2 Videos
%table
  %tbody
    - @videos.each do |video|
      %tr.video
        %td= link_to video.title, video_path(video)
        %td= video.status
%h2 Comments
%table
  %tbody
    - @comments.each do |comment|
      %tr.profile_comment
        %td= link_to comment.content, video_path(comment.video_id)
        %td= comment.status
%h2 Messages
%table
  %tbody
    - @messages.each do |message|
      %tr.message
        %td= link_to message.subject, message_path(message)
        %td= message.status
