%h1=@video.name
-#%ul.info
  %li 
%iframe{:class => 'vid', :src => "http://www.youtube.com/embed/#{@video.youtube_id}"}
%h2 Why did you want to tell this story?
%p=@video.why
%h2 How did telling your story change you?
%p=@video.how
%h2 How do you hope hearing your story will change the community?
%p=@video.hope
%h2 Q & A
%p=@video.qa
%h2 Additional Media


%h2 Comments
-# @video.comments.each do |comment|
  .comment
    %p=comment.body
.comments
  .comment
    %p Awesome!
  .newcomment
    = form_tag :method => :get, :id => 'ratings_form' do               
      = text_area_tag 'comment'
      = submit_tag 'Submit Anonymously' #, :id => 'ratings_submit'
    - if user_signed_in?
      = form_tag :method => :get, :id => 'ratings_form' do               
        = text_area_tag 'comment'
        = submit_tag 'Submit' #, :id => 'ratings_submit'
