%h1=@video.name
-#%ul.info
  %li 
%iframe{:class => 'vid', :src => "http://www.youtube.com/embed/#{@video.youtube_id}"}
%h2 What is the title of your story?
%p=@video.title
%h2 What is your story about?
%p=@video.about
%h2 Why did you want to tell this story?
%p=@video.why
%h2 How did telling your story change you?
%p=@video.how
%h2 How do you hope hearing your story will change the community?
%p=@video.hope
%h2 Additional Media


%h2 Comments
.likes
  %p 
    - if @video.likes != nil and @video.likes > 0
      This story currently has
      =@video.likes
      likes.
    =button_to "Like this story!", like_video_path(@video), {:id => 'like'}
.comments
  - if @comments != nil
    - @comments.each do |c|
      .comment
        %p
          %h4=c.name
          =c.content
  .newcomment
    = form_tag({:action => :create_comment}, :class => 'comment-form', :multipart => 'true') do
      = hidden_field_tag 'anonymous',true
      = label_tag 'content', 'Anonymous Comment'
      = text_area_tag 'content'
      = submit_tag 'Submit Anonymously' #, :id => 'ratings_submit'
    - if user_signed_in?
      = form_tag({:action => :create_comment}, :class => 'comment-form', :multipart => 'true') do
        = hidden_field_tag 'anonymous',false
        = label_tag 'content', 'Comment'
        = text_area_tag 'content'
        = submit_tag 'Submit' #, :id => 'ratings_submit'
