- if @videos.blank?
  %p There are no video(s) with "#{@search_condition}": "#{@search_text}"
- else
  = paginate @videos
  - @videos.each do |video|
    .vidlistitem
      %h1=link_to video.name, video_path(video)
      =link_to image_tag("http://img.youtube.com/vi/#{video.youtube_id}/0.jpg", :class => 'listimg'), video_path(video)
      %p=video.why
  = paginate @videos

