#viddetail
  =form_tag admin_video_path(@video), :method => :put do
    %h1=@video.name
    %iframe{:class => 'vid', :src => "http://www.youtube.com/embed/#{@video.youtube_id}"}
    %h2 What is the title of your story?
    =text_area :video, :title, :size => '140x5'
    %h2 What is your story about?
    =text_area :video, :about, :size => '140x5'
    %h2 Why did you want to tell this story?
    =text_area :video, :why, :size => '140x5'
    %h2 How did telling your story change you?
    =text_area :video, :how, :size => '140x5'
    %h2 How do you hope hearing your story will change the community?
    =text_area :video, :hope, :size => '140x5'
    %h2 Additional Media
    %h2 Notes
    =text_area :video, :notes, :size => '140x5'
    = submit_tag 'Save changes'
  %h2 Comments
  .likes
    - if @video.likes != nil and @video.likes > 0
      %p
        This story currently has
        =@video.likes
        likes.
  .comments
    - @comments.each do |c|
      %div{:id => "#{c.id}", :class => 'comment'}
        %p
          %b
            Status:
            =c.status
          %br
          %br
          =c.content
          %br
          %br
          %b
            =c.name
        =button_to 'Accept', {:controller => 'admin/comments', :action => 'accept', :id => c.id}, {:id => "#{c.id}_accept"}
        =button_to 'Reject', {:controller => 'admin/comments', :action => 'reject', :id => c.id}, {:id => "#{c.id}_reject"}
  %h2 Status
  =@video.status
  = button_to 'Accept', {:controller => 'admin/videos', :action => 'accept', :id => @video.id}
  = button_to 'Reject', {:controller => 'admin/videos', :action => 'reject', :id => @video.id}
  = button_to 'Email', {:controller => 'admin/videos', :action => 'email', :id => @video.id}
