- if user_signed_in?
  Welcome #{current_user.email}
  |
  = link_to "Profile", user_path(current_user)
  |
  = link_to "Logout", destroy_user_session_path, :method => :delete
- else
  = link_to "Sign In", sign_in_path
  = link_to "Register", new_user_registration_path


