%ul
  %li
    = link_to "Upload", new_video_path
  %li
    = link_to "Videos", videos_path
  %li
    = link_to "Messages", messages_path
  - if current_user.try(:admin?)
    %li
      = link_to "Video Review", admin_videos_path
    %li
      = link_to "Comment Review", admin_comments_path

