!!! 5
%html
  %head
    %title Banyan Tree Project
    = stylesheet_link_tag 'api'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Radley|Exo|Open+Sans'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #container-left
      #container-right
        #head
          #background-left
          #logo
            =render 'layouts/logo'
          #background-right
          #login
            =render 'layouts/login'

        #navigation
          =render 'layouts/navigation'
        #content
          =render 'layouts/flashes'
          #content-left
          #content-right

          = yield
          .clear
        #footer
          #footer-left
          #footer-right

