!!! 5

%html
  %head
    %title Banyan Tree Project
    = stylesheet_link_tag 'api'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Radley|Exo|Open+Sans'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #login
      - if user_signed_in?
        Welcome #{current_user.email}
        |
        = link_to "Activity History", user_path(current_user)
        |
        = link_to "Logout", destroy_user_session_path, :method => :delete
      - else
        = link_to "Sign In", sign_in_path
        = link_to "Register", new_user_registration_path
    = form_tag video_search_path, :method => 'get' do
      %p
        - if(@search_condition != "Location")
          = text_field_tag "search_text", @search_text, :placeholder => 'Enter search term...'
          = select_tag "replace", options_for_select(us_states), :style => "display: none"
        - else
          = text_field_tag "replace1", nil, :placeholder => 'Enter search term...', :style => "display: none"
          = select_tag "search_text", options_for_select(us_states, @search_text)
        = select_tag "search_condition", options_for_select(Video::SEARCH_OPTIONS,@search_condition)
        = submit_tag "Search"
    - form_tag video_search_path, :method => 'get' do
      %p
        = text_field_tag "search_text", nil, :placeholder => 'Enter search term...'
        = select_tag "search_condition", options_for_select(Video::SEARCH_OPTIONS)
        = submit_tag "Search"
    #content
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:error]
        #error.message= flash[:error]
      - elsif flash[:alert]
        #alert.message= flash[:alert]

      = yield
      .clear
